Repository modelica/fmi-ls-bus, pull requests merged in 2023-12, with the labels that each got.

#121 Make LS_BUS_CHECK_OPERATION_SIZE overwritable
  headers/fmi3LsBus.h
Labels: bug, can

#133 Use memberName within Bus Terminals
  docs/2____common_concepts.adoc
  docs/3____physical_signal_abstraction.adoc
  docs/4____network_abstraction.adoc
  docs/examples/X_network4FMI_modelDescription_highCut.xml
  docs/examples/X_network4FMI_modelDescription_lowCut.xml
  docs/examples/X_network4FMI_terminalsAndIcons_highCut.xml
  docs/examples/X_network4FMI_terminalsAndIcons_lowCut.xml
  docs/images/terminal_relations.drawio
  docs/images/terminal_relations.svg
Labels: bug, common

#134 Fix Can_BusNotification Parameter description
  docs/4_4_1_can.adoc
  docs/4____network_abstraction.adoc
Labels: common

#136 Homogenization of operation names
  docs/4_4_1_can.adoc
  docs/4____network_abstraction.adoc
Labels: common, can

#130 Synchronize Operation Argument names and names in headers, add Format Error API
  docs/4_4_1_can.adoc
  docs/4_4_2_lin.adoc
  docs/4____network_abstraction.adoc
  headers/fmi3LsBus.h
  headers/fmi3LsBusCan.h
  headers/fmi3LsBusUtil.h
  headers/fmi3LsBusUtilCan.h
Labels: documentation, common

#129 Refinement of the CAN ID description
  docs/4_4_1_can.adoc
Labels: can
