Repository modelica/fmi-ls-bus, pull requests merged in 2024-10, with the labels that each got.

#189 Use memberName instead of naming conv for clock in high-cut
  docs/3____physical_signal_abstraction.adoc
  docs/examples/X_network4FMI_terminalsAndIcons_highCut.xml
Labels: common, high-cut

#197 Fixing modelDescription.xml wrong &quot; notation within chapter 5.4.2
  docs/examples/X_network4FMI_modelDescription_lowCut.xml
Labels: bug, common, low-cut

#195 Only recommend high-cut variable names
  docs/3____physical_signal_abstraction.adoc
Labels: high-cut

#161 Add initial FlexRay section for fmi-ls-bus
  docs/1____introduction.adoc
  docs/2____common_concepts.adoc
  docs/4_4_1_can.adoc
  docs/4_4_3_flexray.adoc
  docs/5____additional_content.adoc
  docs/examples/fmi_ls_bus_manifest_example.xml
  docs/images/flexray_dynamic_segment_bus_communication_points.drawio
  docs/images/flexray_dynamic_segment_bus_communication_points.svg
  docs/images/flexray_error_handling_overview.drawio
  docs/images/flexray_error_handling_overview.svg
  docs/images/flexray_macroticks_segments_general.drawio
  docs/images/flexray_macroticks_segments_general.svg
  docs/images/flexray_startup.drawio
  docs/images/flexray_startup.svg
  docs/images/flexray_startup_coldstart_emulation.drawio
  docs/images/flexray_startup_coldstart_emulation.svg
  docs/images/flexray_static_segment_bus_communication_points.drawio
  docs/images/flexray_static_segment_bus_communication_points.svg
  docs/images/flexray_transmission_cancel.drawio
  docs/images/flexray_transmission_cancel.svg
  docs/images/flexray_transmission_dynamic_segment.drawio
  docs/images/flexray_transmission_dynamic_segment.svg
  docs/images/flexray_transmission_static_segment.drawio
  docs/images/flexray_transmission_static_segment.svg
  docs/images/flexray_transmission_status.drawio
  docs/images/flexray_transmission_status.svg
  docs/images/flexray_wake_up.drawio
  docs/images/flexray_wake_up.svg
  docs/index.adoc
  headers/fmi3LsBus.h
  headers/fmi3LsBusFlexRay.h
  headers/fmi3LsBusUtil.h
  headers/fmi3LsBusUtilFlexRay.h
  tests/CMakeLists.txt
  tests/helper/hdr/fmi_3_ls_bus_header_test_helper_flexray.h
  tests/helper/src/fmi_3_ls_bus_header_test_helper_flexray.cpp
  tests/test/fmi_3_ls_bus_header_tests_flexray.cpp
Labels: flexray
