Repository modelica/fmi-ls-bus, pull requests merged in 2025-01, with the labels that each got.

#227 Adapt copyright notice
  LICENSE.txt
  README.md
  docs/0____preamble.adoc
  headers/fmi3LsBus.h
  headers/fmi3LsBusCan.h
  headers/fmi3LsBusFlexRay.h
  headers/fmi3LsBusUtil.h
  headers/fmi3LsBusUtilCan.h
  headers/fmi3LsBusUtilFlexRay.h
  schema/fmi3LayeredStandardBusManifest.xsd
Labels: common

#231 Fixed length of operations within operation tables
  docs/4_4_3_flexray.adoc
Labels: flexray

#232 Update news regarding publication of ASAM conference video
  README.md
Labels: common

#235 Fixed build pipeline
  .github/workflows/build-ls-bus.yml
Labels: bug, common

#234 Fixed some FlexRay images
  docs/images/flexray_startup.drawio
  docs/images/flexray_startup.svg
  docs/images/flexray_startup_coldstart_emulation.drawio
  docs/images/flexray_startup_coldstart_emulation.svg
  docs/images/flexray_transmission_cancel.drawio
  docs/images/flexray_transmission_cancel.svg
  docs/images/flexray_transmission_status.drawio
  docs/images/flexray_transmission_status.svg
  docs/images/flexray_wake_up.drawio
  docs/images/flexray_wake_up.svg
Labels: flexray

#237 FlexRay: Fix wrong typedefs used in FMI3_LS_BUS_FLEXRAY_GET_GLOBAL_TIME
  headers/fmi3LsBusUtilFlexRay.h
Labels: bug, flexray
