Repository modelica/fmi-ls-bus, pull requests merged in 2025-06, with the labels that each got.

#254 Improved relation to the abstraction layers in the chapter "System Composition"
  docs/2____common_concepts.adoc
Labels: common

#267 Renumbering of the Ethernet bus operation OP codes
  docs/4_4_4_ethernet_operations.adoc
  headers/fmi3LsBusEthernet.h
Labels: ethernet

#274 Rename "Signal Abstraction layer" to correct "Physical Signal Abstraction layer" (fixed wording)
  docs/3____physical_signal_abstraction.adoc
Labels: bug, common, high-cut

#273 Fix high-cut AUTOSAR example
  docs/3____physical_signal_abstraction.adoc
  docs/examples/X_network4FMI_modelDescription_highCut_autosar.xml
  docs/examples/X_network4FMI_terminalsAndIcons_highCut_autosar.xml
Labels: high-cut

#277 Allow periodic clocks for input in high cut
  docs/3____physical_signal_abstraction.adoc
Labels: high-cut

#271 Improve high cut clocks section
  docs/3____physical_signal_abstraction.adoc
  docs/4____network_abstraction.adoc
  docs/examples/X_network4FMI_terminalsAndIcons_highCut_autosar.xml
  docs/examples/X_network4FMI_terminalsAndIcons_highCut_dbc.xml
Labels: common, high-cut
